<ng-container *ngIf="products.length!=0">
    <div class="container">
        <div class="card">
            <div class="card-table">
                <div class="cart-product table-responsive">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Sr.no</th>
                                <th>Product </th>
                                <th> Name</th>
                                <th>Description</th>
                                <th class="text-center">price</th>
                                <th class="text-center">Quantity</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let  item of products; let i = index">
                                <td>{{i+1}}</td>
                                <td><img style="width: 80px;" src="{{item.image}}" alt=""></td>
                                <td>{{item.title}}</td>
                                <td style="width:25%;text-align: justify;">{{item.description}}</td>
                                <td class="text-center" style="width: 0;">{{item.price}}</td>
                                <td style="width: 0;text-align: center;">{{item.quantity}}</td>
                                <!-- <td style="width: 0;text-align: center;"><button (click)="minus(item)">-</button></td> -->
                            
                                <td class="text-center">
                         
                                    <!-- <i style="cursor: pointer;" (click)="removeItem(item)" class="bi bi-x-circle "></i> -->

                                </td>

                            </tr>
                            <tr >
                                <td colspan="4"></td>
                                <td><button (click)="emptyCart()" class="btn" style="background-color: #ea9962; color: #fff;">EmptyCart</button></td>
                                <td><button class="btn " style="background-color: #00b3a2; color: #fff;" routerLink="/product">ShopMore</button></td>
                                <td style="padding-top: 15px;"><strong style="width: 127px;">Total : ${{grandTotal | number:'.1-3'}}</strong></td>
                            </tr>
     
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</ng-container>


<ng-container *ngIf="products.length==0">
    <div class="container">
        <div class="card">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="https://img.freepik.com/free-vector/ordering-goods-online-internet-store-online-shopping-niche-e-commerce-website-mother-buying-babies-clothes-footwear-toys-infant-accessories-vector-isolated-concept-metaphor-illustration_335657-2764.jpg?w=740&t=st=1659976022~exp=1659976622~hmac=58ba3b1b25b6e8c2bbdb755c80a3809c8618c4ce79a3373534e922afe1d7b33c" class="img-fluid"
                    alt="">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h4>Your Cart Is Empty!</h4>
                    <h6>Add Item To It Now</h6>
                    <button class="btn  mt-2 " style="background-color:#fcda74"  routerLink="/product">Shop Now</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>